nicherides.com {
  handle /autointel-media/* {
    reverse_proxy minio:9000
  }

  handle /v1/* {
    reverse_proxy api:8000 {
      header_up Host {host}
      header_up X-Forwarded-Host {host}
      header_up X-Forwarded-Proto {scheme}
    }
  }

  handle {
    reverse_proxy web:3001
  }
}

www.nicherides.com {
  redir https://nicherides.com{uri} permanent
}

api.nicherides.com {
  handle /autointel-media/* {
    reverse_proxy minio:9000
  }

  handle {
    reverse_proxy api:8000 {
      header_up Host {host}
      header_up X-Forwarded-Host {host}
      header_up X-Forwarded-Proto {scheme}
    }
  }
}
