nicherides.com {
  handle_path /v1/* {
    reverse_proxy api:8000
  }

  handle {
    reverse_proxy web:3001
  }
}

www.nicherides.com {
  redir https://nicherides.com{uri} permanent
}

api.nicherides.com {
  reverse_proxy api:8000
}
